<!doctype html>
<html>

<head>
    <title>Minicap Demo</title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    {{{_sections.style}}}
</head>

<body>
        <div class="floatbar">
            <div class="floatfont">
                <h1 style="font-weight: 100;">AndCloud</h1>
                <hr>
                {{{_sections.logout}}}
            </div>
        </div>
        <div class="topbar">
            {{{_sections.search}}}
            {{{_sections.tomain}}}
        </div>
        {{{body}}}

    <script src="/jQuery/jquery-3.1.1.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
</body>

</html>